* {
    box-sizing: border-box;
}

html {
    font-size: 0.625rem;
}

body {
    font-family: $opensans;
    background: $bg-color;
    font-size: 1.6rem;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}