<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-small-2">
                <div class="logo">
                    <a href="index.html" class="logo__link">Logo</a>
                </div>
            </div>
            <div class="col-small-10">
                <nav class="navigation">
                    <ul class="navigation__container">
                        <li class="navigation__item">
                            <a href="index.html" class="navigation__link">Homepage</a>
                        </li>
                        <li class="navigation__item">
                            <a href="subpage.html" class="navigation__link">Subpage</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button class="menu-button">
                <span class="menu-button__line menu-button__line--line-1"></span>
                <span class="menu-button__line menu-button__line--line-2"></span>
                <span class="menu-button__line menu-button__line--line-3"></span>
            </button>
        </div>
    </div>
</header>