{% extends "../layouts/default.twig" %}

{% block pageTitle %}Site title{% endblock pageTitle %}
{% block pageClass %} class="subpage"{% endblock pageClass %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-small-12">
			<p>subpage</p>
		</div>
	</div>
</div>

{% endblock content %}